<h1>Home Page</h1>

<hr>

<h4>User List</h4>
<ul class="list-group">
  <% @users.each do |u| %>
    <li class="list-group-item">
      <strong><%= u.fname %> <%= u.lname %></strong>
      <% unless current_user == u %>
        <%= link_to "Add Friend", friendships_path(:friend_id => u), :method => :post %>
      <% end %>
    </li>
  <% end %>
</ul>